.approot{
    margin-top: 5rem;
}
.nav1{
    width: 89%;
}
nav a.Active{
    color:cyan;
}
.routes{
    background-color: rgb(118, 197, 231);
    color: rgb(253, 253, 253);
    margin-left: 7px;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 6px;
}
.routes:hover{
    text-decoration: none;
    color: rgb(152, 46, 250);
}