<div class="card-parent">
    <div class="grow"></div>
    <div class="card">
        <div class="card-header">Sign In</div>
        <div class="card-body">
            <div>
                <form>
                    <p>Email address <span style="color: red;">*</span></p>
                    <input class="input" type="email"> <br/><br/>
                    <p>Password <span style="color: red;">*</span></p>
                    <input class="input" type="password"><br/><br/>
                    <button class="btn-primary submit radius" type="submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="card-footer text-muted">Not a member? <a routerLink='/signUp'>Sign Up</a></div>
    </div>
</div>